doctype html
html(lang='fr')
    head
        title Sepia - Administration
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='/css/sepia.css')
        script(src='/js/sepia.js' defer)
    body(id='container')
        header
            h1(id='title') Sepia - Admin Webapp
            nav
                a(id='nav-home' href='/sepia-admin/home') Accueil
                a(id='nav-certificates' href='/sepia-admin/certificates') Certificats
                a(id='nav-signing-rights' href='/sepia-admin/signing-rights') Droits de signature
        main
            block main
        footer
            span(id='copyright') © Smals 2022. Tous droits réservés.
